 


<div class="main">
  <div class="button-container">
    <button class="button" (click) = goback()>back</button>
    <button class="button" role="button" (click) = gotologin()>{{user?.displayName ??  'Log In'}}</button>
  
  </div>

<div class="container">
<form [formGroup]="uploadForm">
  <div class="title">Post</div>
  <div class="form_group">
    <label class="sub_title" for="title">Title:</label>
    <input class="form_style"  id="title" formControlName="title" type="text" [(ngModel)]="title" name="message" required />
  </div>
    <div class="form_group">
      <label class="sub_title" for="message">Message:</label>
      <input class="form_style"  id="message" formControlName="message" type="text" [(ngModel)]="message" name="message" required />
    </div>
    <div class="form_group">
      <label class="sub_title" for="dropdown">Type:</label>
  <select id="dropdown" formControlName="Type" required>
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
    </div>
    <div class="form_group">
      <label class="sub_title" for="dropdown">Privacy settings:</label>
    <select id="booleanChoice" formControlName="IsPrivate" required>
      <option [value]="false" selected>Public</option>
      <option [value]="true">Private Dream</option>
      
    </select>
  </div>
    <div class="form_group">
      <label class="sub_title" for="image">Create AI Image based on your dream:</label>
      <button class="button" *ngIf="!buttonpress" (click)="GetImage()">yes</button>
      <div class="spinner center" *ngIf="buttonpress && !base64Image">
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
    </div>
      <div *ngIf="base64Image" class="img">
        <img [src]="base64Image" alt="Generated Image" />
      </div>
    </div>
  
    <button class="btn" type="radio" *ngIf="!toDisplay" (click)="submit()">Upload</button>
  </form>
  <h4 class="success" *ngIf="toDisplay">Your Dream has been added to the archive.</h4>
</div>
</div>

