  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
  @font-face {
    src: url('../../media/RobotoMono-Light.ttf') format('truetype');
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  } 

.main{
    background-image: url("../../media/sky.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    width: 105vw;
    margin-left: -5%;
    margin-top: -5%;
    }
.container{
    font-family: 'roboto mono';
    position: absolute;
    left: 30vw;
    top:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #EDDCD9;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #E99F4C;
}
.title{
    font-family: 'roboto mono';
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}
.sub_title {
    font-weight: 400;
    margin: 5px 0;
  }
.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  .img img{
    height: 200px;
    width: auto;
  }

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
  }
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #DE5499;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
  }
  
  .btn:hover {
    opacity: .9;
  }