
<button (click) = goback()>back</button>
<div class="main">

<div class="container">
<form [formGroup]="uploadForm">
  <div class="title">Post</div>
  <div class="form_group">
    <label class="sub_title" for="title">Title:</label>
    <input class="form_style"  id="title" formControlName="title" type="text" [(ngModel)]="title" name="message" required />
  </div>
    <div class="form_group">
      <label class="sub_title" for="message">Message:</label>
      <input class="form_style"  id="message" formControlName="message" type="text" [(ngModel)]="message" name="message" required />
    </div>
    <div class="form_group">
      <label class="sub_title" for="dropdown">Type:</label>
  <select id="dropdown" formControlName="Type" required>
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
    </div>
    <div class="form_group">
      <label class="sub_title" for="dropdown">Can we show this on landingpage:</label>
    <select id="booleanChoice" formControlName="IsPrivate" required>
      <option [value]="true">True</option>
      <option [value]="false">False</option>
    </select>
  </div>
    <div class="form_group">
      <label class="sub_title" for="image">Create AI Image based on your dream:</label>
      <button (click)="GetImage()"></button>
      <div *ngIf="base64Image" class="img">
        <img [src]="base64Image" alt="Generated Image" />
      </div>
    </div>
  
    <button class="btn" type="submit" (click)="submit()">Upload</button>
  </form>
  <h2 class="success" *ngIf="toDisplay">Your Dream has been added to the archive.</h2>
</div>
</div>
<div *ngIf="isLoggedIn; else notLoggedIn">
  <p>Welcome! You are logged in.</p>
</div>
<ng-template #notLoggedIn>
  <p>Please log in to continue.</p>
</ng-template>