<h1>Dreams</h1>
<button (click)="onsave()">save</button>
<div class="canvas-container" #canvasWrapper1>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas1></canvas>
  </div>
</div>

<div class="canvas-container" #canvasWrapper2>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas2></canvas>
  </div>
</div>
<div #canvasContainer class="canvasContainer"></div>
