<div class="main">
<h1 class="heading">Dreams.archive</h1>
<div class="bigcontainer">
<div class="container">
<div class="canvas-container" #canvasWrapper1>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas1></canvas>
  </div>
</div>

<div class="canvas-container" #canvasWrapper2>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas2></canvas>
  </div>
</div>

<div class="canvas-container" #canvasWrapper3>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas3></canvas>
  </div>
</div>

<div class="canvas-container" #canvasWrapper4>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas4></canvas>
  </div>
</div>

<div class="canvas-container" #canvasWrapper5>
  <div class="macos-window">
    <div class="window-header">
      <div class="buttons">
        <div class="close"></div>
        <div class="minimize"></div>
        <div class="maximize"></div>
      </div>
    </div>
    <canvas #canvas5></canvas>
  </div>
</div>
</div>
</div>
</div>