
<div class="main">
  <h1 class="heading">Dreams.archive</h1>
  <button (click) = gotopost() class="button1">post</button>
<button (click) = gotologin() class="button2">login</button>
<div class="stacks-container">
  <article class="articles" *ngFor="let window of windows; let i = index"
  [ngStyle]="{'top': randomPositions[i].top, 'left': randomPositions[i].left}" appDraggable (dismiss)="removeArticle(window)">
    <div class="article-container">
      {{ window.Dream}}
    </div>
  </article>
</div>
<p class="text">Work in progress || A platform to share your dreams. Launching in November 2024. Built with typescript, love and AI.
  <br>Update Oct27 24: Creating JS Library for gesture control because hammerjs was acting up in new angular update.
</p>
</div>