  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
  @font-face {
    src: url('../../media/RobotoMono-Light.ttf') format('truetype');
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  } 
  .main{
  background-image: url("../../media/sky.gif");
  height: 100vh;
  width: 100vw;
  position:fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  overflow: hidden;
  }
  .heading{
    position: relative;
    text-align: center;
    font-family: 'roboto mono';
    font-size: xx-large;
    top:45vh;
    color: #ddd;
  }
  .stacks-container{
  height: 100%;
  width: 100%;
  position: relative;
  }
  .articles{
    font-family: "roboto mono";
    position: absolute;
    cursor: move;
  }
  .article-container{
    padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .text{
    position: absolute;
    top: 10%;
    color:#f0f0f0;
    background-color: black;
    font-family: 'roboto mono';
    font-size: small;
  }
  button{
    position: absolute;
    top: 1%;
  }
  .button1{
left: 0%;
  }
  .button2{
    left: 5%;
  }
  @media (max-width: 600px) {
    .button1{
      left: 0%;
        }
        .button2{
          left: 10%;
        }
  }